h1 h2{
    font-family: 'Montserrat';
}


h1 {
    font-size: 66px;
    font-weight: 700;
    line-height: 78px;
}

h2{
    font-weight: 500;
    font-size: 46px;
    line-height: 56px;
}



p {
    font-family: "Lato";
}