.header-container {
  background-color: $dark-green;

}

.header-nav-menu{
  margin-left: 120px;
  position: relative;
  padding-top: 40px;
}

.nav-item::after{
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 1px;
  border-bottom: 1px solid $fluo-green;
  transition: width 250ms ease-in-out, width 250ms ease-in-out;
  opacity: 0;

}
.nav-i00tem:hover::after{
  opacity: 1;
  width: 100px;
}

.header-logo {
  background-color: #ffff;
}

.navbar {
  background-color: $dark-green;

}
@media (max-width: 990px) {
  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-collapse {
      position: fixed;
      right: 0;
      bottom: 0;
      margin: 0;
      z-index: 25;
      background-color: $dark-green ;
      width: 100%;
      height: 100vh;
  }
  .navbar-collapse.collapsing {
      height: auto;
      -webkit-transition: right 0.3s ease;
      -o-transition: right 0.3s ease;
      -moz-transition: right 0.3s ease;
      transition: right 0.3s ease;
      right: 100vw !important;
  }
  .navbar-collapse.show {
      right: 0% !important;
      -webkit-transition: left 0.3s ease-in;
      -o-transition: right 0.3s ease-in;
      -moz-transition: right 0.3s ease-in;
      transition: right 0.3s ease-in;
  }
}

.navbar-toggler-icon{
  position: absolute;
  top:12px;
  right: 27px;
  background-image: url(/assets/images/open.png);

}

.navbarTogglerIsOpen{
  z-index: 50;
  position: absolute;
  top:12px;
  right: 27px;
  background-image: url(/assets/images/close.png) !important;

}
.main-container {
  background-color: $light-green;
}

.hero-container {
  position: relative;
} 
.hero-container-content:before{
  content: url(/assets/images/wave.png);
  position: relative;
  top: 0px;
  left: 5px;
  height: 50px;
  width: 50px;
  
  
}

.quote-container:before{
  content: url(/assets/images/quote.png);
  position: relative;
  top:-10px;
  left: 40px;
  height: 50px;
  width: 50px;
  
  
}
.quote-left-container {
  border-right: 1px solid #5A8085;
}

.temoignage-top-container:before{
  content: url(/assets/images/wave.png);
  position: relative;
  top:-10px;
  left: 5px;
  height: 50px;
  width: 50px;
  
  
}

.hero-container-content {
  max-width: 435px;
}

.hero-top-content,
.hero-bottom-content {
  line-height: 20px;
  font-size: 14px;

}

.hero-top-content {
  font-weight: 700;

}

.hero-bottom-content {
  font-weight: 400;
}

.hero-bottom-content-span {
  color: #2BCAA7
}

.top-quote-container .bottom-quote-container {
  font-size: 19px;
  font-weight: 300;
}

.quote-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1.3rem;
}

.quote-card-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.picture-container {
  max-width: 720px;
}

.maconnery-picture{
    aspect-ratio: 16 / 9 ;
    object-fit: fill;

}

